<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bee</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div class="grid-container">
    <div class="Center">
        <form th:action="@{/projects}" method="post" th:object="${project}" >
            <div class="mb-3">
                <label for="description" class="form-label">Project description</label>
                <input type="text" class="form-control" id="description" th:field="*{description}">
            </div>
            <div class="mb-3">
                <label for="team.id" class="form-label">Team ID</label>
                <input type="number" class="form-control" id="team.id" th:field="*{team.id}">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>


</body>
</html>

