<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bee</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div class="grid-container">
    <div class="Center">
        <div class="card text-center">
            <div class="card-header">
                Project
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${#strings.capitalize(project.description)}"></h5>
                <!--p class="card-text" th:text="${#strings.capitalize(team.description)}"></p-->
                <a href="#" class="btn btn-info">View brainstorms</a>
                <a href="#" class="btn btn-info">View comments</a>
                <a href="#" class="btn btn-info">View kanbans</a>
                <a href="#" class="btn btn-info">View meetings</a>
                <a href="#" class="btn btn-success">Add brainstorm</a>
                <a href="#" class="btn btn-success">Add comment</a>
                <a href="#" class="btn btn-success">Add kanban</a>
                <a href="#" class="btn btn-success">Add meeting</a>

                <td><a th:href="@{/projects/create}" class="btn btn-success">Create</a></td>
                <a th:href="@{/projects/edit/{projectId}(projectId = ${project.id})}" class="btn btn-warning">Edit</a>
                <a th:href="@{/projects/delete/{projectId}(projectId = ${project.id})}" class="btn btn-danger">Delete</a>
            </div>
            <div class="card-footer text-muted">
                PROJECT ACTIONS
            </div>
        </div>
    </div>
</div>


</body>
</html>



