<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bee</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="grid-container ">
    <div class="Center">
        <form name='myform' action="/api/auth/signin" method='POST'>
            <div class="mb-3">
                <label for="1" class="form-label">Username</label>
                    <input type='text' name='username' id="1" class="form-control">
            </div>
            <div class="mb-3">
                <label for="2" class="form-label">Password</label>
                    <input type='password' name='password' id="2" class="form-control"/>
            </div>
            <div class="mb-3">
                    <input name="submit" type="submit" value="submit" class="btn btn-primary"/>
            </div>
        </form>

    </div>
</div>

</body>
</html>