
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Bee</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<h1 th:text="${error}"> </h1>
<div class="grid-container">
  <div class="Center">
<!--    <form name='myform' action="/api/auth/signup" method='POST' >-->
      <form th:action="@{/api/auth/signup}" method="post" th:object="${signupRequest}" >
      <table>
        <tr>
          <td>User:</td>
          <td><input type='text' name='username' id="1" th:field ="*{username}"></td>

        </tr>
        <tr>
          <td>Email:</td>
          <td><input type='text' name='email' id="2" th:field="*{email}"></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type='password' name='password' id="3" th:field = "*{password}" /></td>
        </tr>
        <tr>
          <td>Confirm Password:</td>
          <td><input type='password' name='password_confirm' id="4" th:field = "*{password_confirm}"/></td>
        </tr>
       <tr>
         <td><input type="radio" th:field="*{role}" id="user" value="user"> User</td>
         <td><input type="radio" th:field="*{role}" id="mod" value="mod"> Mod</td>
         <td><input type="radio" th:field="*{role}" id="admin" value="admin"> Admin</td>

       </tr>
<!--        <tr>-->
<!--          <td>user:</td>-->
<!--          <td><input type='checkbox' name='user' id="5" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>mod:</td>-->
<!--          <td><input type='checkbox' name='mod' id="6" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>admin:</td>-->
<!--          <td><input type='checkbox' name='admin' id="7" /></td>-->
<!--        </tr>-->
        <tr>
          <td><input  type="submit" value="submit" /></td>
        </tr>
      </table>
    </form>
  </div>
</div>